.arrow.left {
      transform: rotate(-135deg) translate(-50%);
}

.arrow.right {
      transform: rotate(45deg);
}

.arrow::before {
    position: relative;
    top: 3pt;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.pageItem {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
}

.pageItem:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.pageItem.selected {
    background-color: rgba(0, 0, 0, 0.08);
}

.paginationContainer {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.pageItem.dots:hover {
    background-color: transparent;
    cursor: default;
}

.pageItem.disabled {
    pointer-events: none;
}

.pageItem.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
  }

.pageItem.disabled .arrow:hover {
    background-color: transparent;
    cursor: default;
  }
.paginationOuterContainer {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}